@charset "utf-8";

/*
   New Perspectives on HTML5 and CSS3, 8th Edition
   Tutorial 6
   Coding Challenge 1
   
   Author:   Coding Challenge 1   
   Date:     2021-03-01
   Filename: code6-1_table.css

*/

table {
   border-collapse: collapse;
   border: 20px groove gray;
}

th, td {
   border: 4px solid rgb(111, 4, 137);
   padding: 5px;
   text-align: left;
   vertical-align: top;
}

caption {
   caption-side: top;
   text-align: left;
   font-size: 1.5em;
}

table col#firstCol {
   background-color: yellow;
   width: 150px;
}

table col#hourCols {
   width: 75px;
}

table thead {
   background-color: rgb(246, 159, 37);
}

table tbody {
   background-image: url("images/fall.jpg");
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center;
}

table tbody td {
  font-family: Verdana, Arial, sans-serif;
  font-weight: bold;
  color: #ffffff; 
  text-shadow: 1px 1px 2px rgba(0,0,0,0.7); 
  background-color: rgba(233, 147, 93, 0.6); 
}


table tbody th {
   background-image: none;
   background-color: rgb(255, 190, 98);
}


